@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
    font-family: "Nunito Sans", sans-serif !important;
}

label {
    display: block;
}

input[type="text"] {
    font-size: 0.75rem;
    outline: none !important;
}
